body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h1 {
    color: #ff3b30; /* Red color for error indication */
    margin-bottom: 20px;
    font-size: 24px;
}

p {
    color: #666;
    margin: 10px 0;
    font-size: 16px;
}

a {
    display: inline-block;
    margin-top: 15px;
    padding: 12px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

a:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.logo {
    position: relative;
    top: 35px;
    z-index: 10;
    text-align: center;
}

.footer {
    background: linear-gradient(to bottom, #0040ff, white);
    color: black; /* White text */
    width: 70%; /* Full width */
    padding: 20px; /* Padding inside the footer */
    margin-top: 100px;
    text-align: center;
    margin-left: 161px;
}
  
.footer-content {
    max-width: 1500px; /* Max width for footer content */
    margin: 0 auto; /* Center the footer content */
}
  
.footer-logo {
    display: block;
    max-width: 200px;
    height: auto;
    border-radius: 50px;
}

.footer-logo img {
    border-radius: 30%;
    max-width: 200px;
}

.footer-links,
.footer-social {
    margin: 10px 0; /* Space between sections */
    text-align: center;
}
  
.footer-link,
.social-link {
    color: black; /* White text for links */
    text-decoration: none; /* Remove underline from links */
    margin: 0 15px; /* Space between links */
}
  
.footer-link:hover,
.social-link:hover {
    text-decoration: underline; /* Underline on hover for links */
}
  
.footer-bottom {
    margin-top: 20px; /* Space above bottom text */
    font-size: 14px; /* Smaller font size for copyright */
    text-align: center; /* Center align copyright text */
}