<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="../static/main.css">
    
</head>
<header>
    <div class="logo">
        <a href="/">
            <img src="../static/img/pngegg.png" alt="URL Shortener logo">
        </a>
    </div>
</header>
<body>
    <div class="container">
        <h1>URL Shortener</h1>
        <form action="#" method="post">
            <input type="text" name="longUrl" id="longurl" placeholder="Въведете дългия URL адрес" required>
            <input type="text" name="customAlias" id="custom" placeholder="Персонализирано заглавие на страница">
            <input type="number" name="urlSize" id="size" placeholder="Размер на адреса (7 по подразбиране)" min="1" value="7">
            <button id="shortenBtn" type="submit">Shorten URL</button>
        </form>
    </div>
    <br/>
    <footer class="footer">
        <div class="footer-logo">
          <a href="index.html">
            <img src="images/logo.png" alt="ЖП Свят лого">
          </a>
        </div>
        <div class="footer-content">
          <div class="footer-links">
            <a href="index.html" class="footer-link footer-content">Начало</a>
            <a href="HTML/blog.html" class="footer-link footer-content">Блог</a>
            <a href="HTML/contacts.html" class="footer-link footer-content">Контакти</a>
          </div>
          <div class="footer-social">
            <a href="https://facebook.com" class="social-link">Facebook</a>
            <a href="https://twitter.com" class="social-link">Twitter</a>
            <a href="https://instagram.com" class="social-link">Instagram</a>
            <a href="https://linkedin.com" class="social-link">LinkedIn</a>
          </div>
        </div>
        <div class="footer-bottom">
          <p>&copy; 2024 ЖП СВЯТ. Всички права запазени.</p>
        </div>
      </footer>
</body>
</html>