<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="../static/result.css">
    </style>
</head>
<body>
    <div class="container" id="mainContainer">
        <h1>URL Shortener</h1>
        <div id="result" class="url-display">
            <h2>Here's your shortened link: </h2>
            <a href="/{{short_url_display}}">127.0.0.1/{{short_url_display}}</a>
        </div>
        <div id="qrCode"></div>
    </div>
    <footer class="footer">
        <div class="footer-container">
            <p>&copy; 2023 Your Company Name. All rights reserved.</p>
            <ul class="footer-links">
                <li><a href="/privacy-policy">Privacy Policy</a></li>
                <li><a href="/terms-of-service">Terms of Service</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>